@zippytech:registry=https://registry.zippytech.io/
//registry.zippytech.io/:_password="${ZIPPY_NPM_PW}"
//registry.zippytech.io/:username=smartbull.co.il
//registry.zippytech.io/:email=boaz@smartbull.co.il
//registry.zippytech.io/:always-auth=false
